<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="container">

  <div class="product-details">

    <div class="select-container">
        <select (change)="onChange()">
            <option value=NearestField>Find Nearest Field</option>
            <option value=getReservationsProperty>Lowest price</option>
        </select>
    </div>    <span class="hint-star star">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </span>

    <p class="information">" Let's spread the joy , here is Christmas , the most awaited day of the year.Christmas Tree is what one need the most. Here is the correct tree which will enhance your Christmas.</p>

    <div class="control">

      <button class="btn">
        <span class="price">555$</span>
        <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
        <span class="buy">Get now</span>
      </button>

    </div>

  </div>

  <div class="product-image">

    <img src="https://tra.img.pmdstatic.net/fit/https.3A.2F.2Fi.2Epmdstatic.2Enet.2FCAM.2F2020.2F03.2F11.2F51c668b3-e872-44dd-a205-170c56f823fb.2Ejpeg/1200x630/quality/80/combien-de-personnes-un-terrain-de-foot-peut-il-nourrir.jpg" alt="">

    <div class="info">
      <h2> Description</h2>
      <ul>
        <li><strong>Height : </strong>5 Ft </li>
        <li><strong>Shade : </strong>Olive green</li>
        <li><strong>Decoration: </strong>balls and bells</li>
        <li><strong>Material: </strong>Eco-Friendly</li>

      </ul>
    </div>
  </div>

</div>